@import "tailwindcss";

@theme {
  --color-primary-50: #fdf2f8;
  --color-primary-100: #fce7f3;
  --color-primary-500: #ec4899;
  --color-primary-600: #db2777;

  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-text_primary: #f8fafc;
  --color-text_secondary: #94a3b8;

  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: transparent;
  --color-blue-300: #93c5fd;
  --color-blue-400: #60a5fa;
  --color-blue-500: #3b82f6;
  --color-indigo-300: #a5b4fc;
  --color-violet-200: #ddd6fe;

  --animate-aurora: aurora 60s linear infinite;
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

  @keyframes aurora {
    from {
      background-position: 50% 50%, 50% 50%;
    }

    to {
      background-position: 350% 50%, 350% 50%;
    }
  }

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-text_primary);
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  }
}

@layer utilities {
  .transition-bg {
    transition: background-color 0.3s ease-in-out;
  }
}